.m-btn {
  background-color: #50b83c;
  border-radius: 4px;
  height: 36px;
  line-height: 36px;
  min-width: 80px;
  letter-spacing: 0;
  color: #fff;
  padding: 0 16px;
  font-family: Roboto, sans-serif;
  border: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.m-btn:hover {
  background-color: #6bc18d;
}

.m-btn:active {
  outline: 2px solid #055b27;
  background-color: #067933;
}
